@(meetingForm: Form[Meeting])

@import helper._
@import helper.twitterBootstrap


@*
TODO: Play includes the Boilerplate code from main(with Title as parameter)
*@
@index {
    @*
    TODO: Form gets Submitted to the reverse URL.
    *@
    @helper.form(action = routes.Meetings.save(), 'class -> "form-horizontal", 'id -> "something") {
        @helper.inputText(meetingForm("agenda"), '_label -> "Meeting Agenda")
        <input type="submit" class="btn btn-success" value="Schedule!">
        <a class="btn btn-danger" href="@routes.Meetings.all()">Cancel</a>
    }

}