@(signupForm: Form[Users])

@import helper._
@import helper.twitterBootstrap


@main("Alex | Signup for new User") {

    @helper.form(action = routes.Application.createUser()){
        <form>
            <fieldset>
                <legend>Sign Up New User</legend>
                @helper.inputText(signupForm("userName"), '_label -> "Username:", 'placeholder->"alex")
                @helper.inputText(signupForm("email"), '_label -> "Email:", 'type->"email", 'placeholder->"alex@jotarthur.com")
            </fieldset>
            <input type="submit" class="btn btn-success" value="Sign Up!">
            <a class="btn btn-danger" href="#">Cancel</a>
        </form>
    }
}