@(content: Html)

@main("Alex | Simple Efficient Tracker") {
    <div class = "container-fluid base-container">


        <div class="row">
            <div class="col-md-3 left-title-bar">

                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#" class="list-group-item">Home</a></li>
                    <a href="#" class="list-group-item">Tasks</a>
                    <a href="#" class="list-group-item">Goals</a>
                    <a href="#" class="list-group-item">Meets</a>
                    <a href="#" class="list-group-item">Chats</a>
                    <a href="#" class="list-group-item">Files</a>
                </ul>

            </div>
            <div class="col-md-6 center-body">
                @content
            </div>
            <div class="col-md-3 right-title-bar">
                <ul class="nav nav-pills nav-stacked">
                    <a href="#" class="list-group-item"><input type="checkbox" /> Bharadwaj</a>
                    <a href="#" class="list-group-item"><input type="checkbox" />Bhargav</a>
                    <a href="#" class="list-group-item"><input type="checkbox" />Dij</a>
                </ul>
            </div>
        </div>

    </div>
}
