@(title: String)(content: Html)(nav_content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/bootstrap-theme.min.css")">
        <script src="@routes.Assets.at("bootstrap/bootstrap.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>

        <div class = "container-fluid base-container">

            <div class="row">
                <div class="col-md-3 left-title-bar">

                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#" class="list-group-item">Home</a></li>
                        <a href="/tasks" class="list-group-item">Tasks</a>
                        <a href="/goals" class="list-group-item">Goals</a>
                        <a href="/meets" class="list-group-item">Meets</a>
                        <a href="/chat" class="list-group-item">Chats</a>
                        <a href="/files" class="list-group-item">Files</a>
                    </ul>

                </div>
                <div class="col-md-6 center-body">
                    @content
                </div>
                <div class="col-md-3 right-title-bar">
                    @nav_content

                </div>
            </div>

        </div>

    </body>
</html>
